@media (max-width: 767px)
    .top-nav
        &_btn
            display: block
        &-menu
            flex-direction: column
            li
                line-height: 2
                display: none
                a
                    &:after
                        display: none
            &__active
                li
                    display: flex
                    margin-bottom: 0
    .left-side-bar
        &_object
            display: none
        &_btn
            display: block
        &_menu
            display: none
            &__active
                display: block
    .copy
        text-align: center
        small
            display: block
            margin: 36px auto
    .footer
        &-contact
            text-align: left
@media (min-width: 800px) and (max-width: 1200px)
    html
        font-size: 8.8px

@media (min-width: 769px) and (max-width: 990px)
    // .top-nav-menu
    //     font-size: 1rem
    //     li
    //         margin-right: 1rem
    .top-nav-menu
        display: flex
        justify-content: space-between
        font-size: 1.1rem
        li
            margin: 0.5rem
    .calc-popular
        font-size: .7rem
        padding: 0


    